# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Editor settings
.vscode/
.idea/
*.swp
*.swo
